body {
	margin: 0;
	font-family: sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	min-height: 100vh;
}

.entry {
	border-left: 10px solid darkgray;
	padding: 4px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 20px;
	background-color: #eee;
	}

.entry h2 { margin: 5px auto 2px auto; }

#blog-section {
	flex: 4;
	background-color: #00263e;
	padding: 20px;
}

#right-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	padding: 20px;
}

#github-section, #links-section {
	padding: 0px 0px 5px 0px;
}
