/* General Styles */
body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Entries */
.entry {
  border-left: 10px solid darkgray;
  padding: 4px 10px 10px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #eee;
}

.entry h2 {
  margin: 5px auto 2px auto;
}

/* Blog section styling */
#blog-section {
  flex: 4;
  background: linear-gradient(to bottom, #00263e, #5d6d7e ); /* Dark blue to light grey */
  padding: 20px;
}

/* Right section */
#right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 20px;
  transition: transform 0.3s ease;
}

/* Top section styling */
.top-section {
  width: 100%;
  background-color: lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.top-content {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.hamburger-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  background-color: transparent;
  border: none;
  outline: none;
}

.top-content h1 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
  margin-left: auto;
}

/* Mobile-specific sticky header */
@media (max-width: 768px) {
  /* Make the top-section sticky only on mobile */
  .top-section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  /* Adjusting space below sticky top bar for mobile */
  .container {
    padding-top: 49px; /* Ensures space below top-section */
    margin: 0;         /* Removes any default margin */
  }

  .hamburger-menu {
    display: block;
    margin-right: 10px;
  }

  /* Hide right-section by default on mobile */
  #right-section {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding-top: 50px;
    z-index: 10;
  }

  /* Show right-section when toggled */
  #right-section.show {
    display: flex;
  }
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #f9f9f9;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
